/* General */
html {
    padding-top: 20px;
    /*    scroll-behavior: smooth;*/
}

* {
    font-family: 'Prata', sans-serif;
}

.container-fluid {
    text-align: center;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h3 {
    color: white;

    font-family: prata;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    width: 815px;
    animation: typing 4.5s steps(45, end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

/* Navbar */
nav {
    /*    height: 80px;*/
    position:fixed;
    top:0;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
}

/* Sections */
#about, #projects, #recipes, #contact {
    padding: 7%;
    color: white;
}

#contact {
    padding: 2%;
    
}

/* Intro section */




@media (max-width: 100px) {
    .intro-headshot, .intro-text {
      
        text-align: center;
        
    }

    .col-lg-4 px-sm-4 intro-headshot {
        border: 1px solid;
        border-radius: 50%;
        
    }
}


.cardhover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
}

    .cardhover:hover {
        opacity: 0.8;

    }

    .subtitle { 
        color: black;
        background-color:lightgrey;
        padding: 10px;
    }
.subtitle:hover {
    opacity: 1;
}
